body{
	background: url("images/path-min.jpg") 50% 50% no-repeat;
	background-size: cover;
	height: 100vh;
}
.headline{
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.48);
	text-align: center;
	width: 60vw;
	margin: 15vh 20vw 10vh 20vw;
	padding: 30px 50px;
	font-size: 76px;
	letter-spacing: 1vh;
}
#placeholder{
	position: absolute;
	left: 0;
}
#placeholder ul{
	padding-left: 0;
}
#placeholder li{
	list-style-type: none;
}
/****made use of some bootstrap button classes***/
.btn.placesbutton,
.btn.pathbutton{
	height: 12vh;
	width: 30vw;
	opacity: 0.6;
	font-size: 5vw;
	background: #ccc;
}
.btn.pathbutton{
	border-radius: 0px 25px 25px 0px;
}
.btn.placesbutton{
	position: absolute;
	left: 0;
	z-index: 10;
	opacity: 0;
	letter-spacing: 2vw;
	font-size: 5vh;
	background: url("images/stubbe.jpg") 50% 42% no-repeat;
	background-size: cover;
	color: white;
	border: 3px solid gray;
	border: 3px solid rgba(128, 128, 128, 0.58);
	-webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.btn.placesbutton:hover{
	color: white;
}
/****Static images for all the ID´s that are currently set*****/ 
/****Default image set above to handle new ID´s until new method is implemented**/
.btn.placesbutton#location1{
	background: url("images/trad.jpg") 50% 50% no-repeat;
	background-size: cover;
}
.btn.placesbutton#location2{
	background: url("images/river.jpg") 50% 84% no-repeat;
	background-size: cover;
}
.btn.placesbutton#location3{
	background: url("images/dense.jpg") 50% 71% no-repeat;
	background-size: cover;
}
.extrainfo,
.infotext{
	letter-spacing: normal;
	font-size: 15px;
}
.extrainfo{
	position: absolute;
	top: 5px;
	left: 0;
	text-align: left;
}
.extrainfo p{
	border-bottom: 1px dashed;
}
/****!Important as a quick and dirty fix until further updates****/
.fullscreen{
	width: 80vw!important;
	opacity: 1!important;
	transition: width 1s ease-in-out, opacity 1s ease-in-out;
}